<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        table, th, td {
            color : black
        }
    </style>
</head>
<body>
    <table width="700" border="0" align="center" cellpadding="0" cellspacing="0" style="font-family: Arial,Helvetica,sans-serif;
        font-size: 12px; color: #733B70">
        <tbody>
            <tr>
                <td height="125" style="background-color:#fff">
                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="https://www.bergerpaints.com/resources/images/logo.png" alt="HGS" style="margin-left:10px; height:60px" />
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td style="padding: 0 35px 20px 22px; border: #733B70 2px solid">

                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tbody>
                            <tr>
                                <td style="color: #222222">
                                    <br />Dear Admin,
                                </td>
                            </tr>
                            <tr>
                                <td style="border-bottom: #733B70 dotted 1px">
                                    <table width='100%' border='0' cellspacing='0' cellpadding='0' style="te">
                                        <tr><td colspan='3'>&nbsp;</td></tr>
                                        <tr><td colspan='3'>There are no leads data from {{FromTime}} to {{ToTime}}.</td></tr>
                                        <tr><td colspan='3'>&nbsp;</td></tr>                                        
                                    </table>
                                    <div style="color: #222222; padding-bottom: 5px">
                                        Thanks,<br />
                                        HGS Interactive
                                    </div>

                                </td>
                            </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            <tr>
                <td style="background: #733B70; min-height: 12px">
                    &nbsp;
                </td>
            </tr>
            <tr><td><i>This is an automated response; please do not reply to this mail.</i></td></tr>
        </tbody>
    </table>
</body>
</html>